{% extends "base.html" %}

{% block content %}
<h1>Gerar Solicitação</h1>

<form action="{% url 'logis:gerar_solicitacao_urnas' %}" method="get">
    <label for="municipio">Selecione um município:</label>
    <select name="municipio_id" id="municipio">
        {% for municipio in municipios %}
            <option value="{{ municipio.muni_id }}">{{ municipio.nome }}</option>
        {% endfor %}
    </select>
    <button type="submit">Gerar Solicitação</button>
</form>


<!-- Placeholder text to verify functionality -->
<div id="placeholder-text">
    <p>Placeholder text. This text will change after clicking the button.</p>
</div>

{% if message_ue %}
    <p>{{ message_ue }}</p>
{% endif %}
{% if message_cont %}
    <p>{{ message_cont }}</p>
{% endif %}

{% if nova_solicitacao_ue %}
    <h2>Nova solicitação de urnas eleitorais:</h2>
    <p>Municipio: {{ nova_solicitacao_ue.municipio }}</p>
    <p>UEs: {{ nova_solicitacao_ue.qtd }}</p>
{% endif %}
{% if nova_solicitacao_cont %}
    <h2>Nova solicitação de urnas de contingência:</h2>
    <p>Municipio: {{ nova_solicitacao_cont.municipio }}</p>
    <p>UE contingência: {{ nova_solicitacao_cont.qtd }}</p>
{% endif %}
{% endblock %}
