{% extends "base.html" %}

{% block content %}
<h1>Todos os recursos disponíveis podem ser encontrados abaixo:</h1>

<h2>Recursos Disponíveis:</h2>
<ul>
    <li><a href="{% url 'logis:cadastrar_ze' %}"><button>Cadastrar Zonas Eleitorais</button></a></li>
    <li><a href="{% url 'logis:adicionar_municipio' %}"><button>Adiciona municipio</button></a></li>
    <li><a href="{% url 'logis:adicionar_secao' %}"><button>Cadastrar Seção</button></a></li>
    <li><a href="{% url 'logis:alterar_municipio' %}"><button>Alterar Município PENDENTE</button></a></li>
    <li><a href="{% url 'logis:alterar_ze' %}"><button>Alterar Zona Eleitoral PENDENTE</button></a></li>
    <li><a href="{% url 'logis:gerar_solicitacao_urnas' %}"><button>Gerar Solicitação</button></a></li>
</ul>
{% endblock %}