<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <h1>Index:</h1>
    <div>
        <a href="{% url 'logis:cadastrar_ze' %}"><button>Cadastrar Zonas Eleitorais</button></a>
        <a href="{% url 'logis:adicionar_municipio' %}"><button>Adiciona municipio</button></a>
        <a href="{% url 'logis:adicionar_secao' %}"><button>Cadastrar Seção</button></a>
        <a href="{% url 'logis:alterar_municipio' %}"><button>Alterar Município PENDENTE</button></a>
        <a href="{% url 'logis:alterar_ze' %}"><button>Alterar Zona Eleitoral PENDENTE</button></a>
        <a href="{% url 'logis:gerar_solicitacao_urnas' %}"><button>Gerar Solicitação</button></a>
    </div>
</body>
</html>

