{% extends 'logisApp/base.html' %}

{% block title %}Listar Distribuições{% endblock %}

{% block content %}
<h1>Distribuições Realizadas</h1>
<ul class="list-group">
    {% for log in logs %}
        <li class="list-group-item">
            <h2>Zona Eleitoral: {{ log.zona_eleitoral_name }}</h2>
            <p>Urna: 
                {% if log.urna %}
                    {{ log.urna.modelo }}
                {% else %}
                    Deleted Urna
                {% endif %}
            </p>
            <p>Material Eleitoral: 
                {% if log.material_eleitoral %}
                    {{ log.material_eleitoral.nome }}
                {% else %}
                    N/A
                {% endif %}
            </p>
            <p>Quantidade: {{ log.quantity }}</p>
            <p>Distribuído por: {{ log.distributed_by.username }}</p>
            <p>Tipo de Distribuição: {{ log.get_distribution_type_display }}</p>
            <p>Data: {{ log.timestamp }}</p>
        </li>
    {% empty %}
        <li class="list-group-item">Nenhuma distribuição encontrada.</li>
    {% endfor %}
</ul>
{% endblock %}
