{% extends 'logisApp/base.html' %}

{% block title %}Listar Distribuições{% endblock %}

{% block content %}
<h1>Distribuições Realizadas</h1>
<ul class="list-group">
    {% for log in logs %}
        <li class="list-group-item">
            <h2>Zona Eleitoral: {{ log.zona_eleitoral.nome }}</h2>
            <p>Urna: 
                {% if log.urna %}
                    {{ log.urna.modelo }}
                {% else %}
                    Deleted Urna
                {% endif %}
            </p>
            <p>Quantidade: {{ log.quantity }}</p>
            <p>Data: {{ log.created_at }}</p>
        </li>
    {% empty %}
        <li class="list-group-item">Nenhuma distribuição encontrada!!.</li>
    {% endfor %}
</ul>
{% endblock %}
